*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 40%;
    height: auto;
    background-color: rgb(146, 197, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:4%;
    flex-direction: column;
    border-radius: 10px;
}
.box{
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 1% 0;
    align-items: center;
    justify-content: center;
}
.box label{
    display: block;
    background-color: greenyellow;
    padding: 3% 4%;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
#getImage{
    display: none;
}
button{
    background-color: red;
    padding: 3% 4%;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    font-weight: 600;
    
}
#cropImageBtn{
    background-color: rgb(0, 153, 255);
}
.options {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  input[type="number"] {
    width: 100px;
    padding: 16px 5px;
    border-radius: 0.3em;
    border: 2px solid #000000;
  }
  .aspect-ratio-button {
    padding: 1em;
    border-radius: 0.3em;
    border: 2px solid #025bee;
    background-color: #ffffff;
    color: #025bee;
  }
.imgbox{
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    border-radius: 7px;
    position: relative;
}
.imgbox .inputbox,
.imgbox ,.outputbox{
    width: 100%;
}
img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.hide{
    display: none;
}

@media screen and (max-width:600px) {
    .options{
        display: flex;
        flex-wrap: wrap;
        gap: .8em;
        padding-bottom: 5%;
    }
    input[type="number"] {
        width: 50px;
        padding: 0px 5px;
        border-radius: 0.3em;
        border: 2px solid #000000;
      }
      .aspect-ratio-button {
        padding: .2em;
        border-radius: 0.3em;
        border: 2px solid #025bee;
        background-color: #ffffff;
        color: #025bee;
      }
      .hide{
        display: none;
    }
}
